<div class="container">
  <button class="btn btn-primary" (click)="home()">Home</button>
  <h4>Admin Dashboard</h4>
  <mat-card>
    <h5>Users</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Delete</th>
        <th>Edit</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
        <!---<td><button class="btn btn-danger" [routerLink]="['/user-edit' ,user.id]"> Edit User</button></td>-->

      </tr>
      </tbody>
    </table>

    <h5>Trips</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>DateFrom</th>
        <th>DateTo</th>
        <th>Destination</th>
        <th>Flight</th>
        <th>Available Tickets</th>
        <th>Price</th>
      </tr>
      </thead>

    <tr *ngFor="let trip of trips">
      <td class="hidden">{{trip.trip_id}}</td>
      <td>{{trip.dateFrom}}</td>
      <td>{{trip.dateTo}}</td>
      <td>{{trip.destination.city_name}}</td>
     <!-- <td>{{trip.flight}}</td>-->
      <td>{{trip.numberOfAvailable}}</td>
      <td>{{trip.price}}</td>
      <td><button class="btn btn-danger" (click)="deleteTrip(trip)"> Delete Trip</button></td>

    </tr>

    </table>
  </mat-card>
  <button class="btn btn-primary" [routerLink]="['/trip']">Create Trip</button>
  <div>
    <p></p>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</div>
